{% extends "learning_logs/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center align-items-center" style="height: 100vh;">
    <!-- Separate Image Button -->
    <form action="#" method="get" class="d-flex mb-3">
        <button type="button" class="btn btn-outline-secondary" title="Settings">
            <img src="{% static 'C:\Users\Owner\Desktop\code.py\Game\images\setting.png' %}" alt="Settings" style="width: 20px; height: 20px;">
        </button>
    </form>
</div>
{% endblock %}
